
.conteiner-cards{
    background-color: #ffffff3f;
}

#header-text-cards {
    font-family: Segoe UI;
    grid-area: texto;
    min-height: 40px;
    font-size: 2rem;
    color: var(--color-orange);
    background-color: var(--color-blackgray);
    text-transform: uppercase;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 7px;
    justify-items: center;
}

.cards-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "card1 card2 card3 card4";
    justify-items: center;
    gap: 20px;
    max-width: 1300px;
    min-height: min-content;
    margin: 0 auto; /*Centrar contenedor grid*/
    padding-top: 30px;
    padding-bottom: 20px;
}

.cards {
    min-height: 350px;
    max-width: 260px;
    text-align: center;
    background-color:#0000003f;
    border-radius: 20px;
    color: var(--color-orange); 
    font-size: 15px;
    box-shadow: 0 16px 20px #00000033;
    transition: all 400ms ease;
}

.cards:hover {
    background-color:#1c1d1c91;
    /* cursor: default; */
    transform: translateY(-0.3%);
    /* box-shadow: 5px 18px 22px rgba(182, 177, 177, 0.2); */
}

.cards h3 {
    background-color: #1b1b1ad7;
    text-align: center;
    padding-top: 5px;
    padding-bottom:  4px; 
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 500; /*Poner negrita*/
}

.img-card1 {
    display: block; /*Para quitar espacio que generan 
    las imagenes debajo de ellas*/
    width: 260px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cards_text {
    padding: 15px;
    font-family:'Segoe UI';
    color: whitesmoke;
    text-align: justify;
}

.btn-card {
    /* margin: top | rigth | buttom | left */
    margin: 15px 20px 15px 10px;
    width: 110px;
    height: 35px;
    background-color: var(--color-orange);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0px 8px rgba(124, 120, 120, 0.8);
    transition: all 750ms ease;
    /* Propiedades del texto */
    color: #0e0d0db6;
    font-family:'Segoe UI';
    font-size: 15px;
    font-weight: 500;
}

.btn-card:hover {
    cursor: pointer;
    color: var(--color-orange);
    background-color: var(--color-blackgray);
}



